@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}
@font-face {
  font-family: "CabinBold";
  src: url("../public/assets/font/CabinBold.ttf");
}

@font-face {
  font-family: "Anek";
  src: url("../public/assets/font/Anek.ttf");
}
